@using XSlipMvc.Client.Web.ViewModels.Expense

@model ExpenseViewModel

@{
    ViewData["Title"] = "Add Expense";
}

<div>
    <h2>Add Expense</h2>

    <form asp-action="Add" method="post">
        <div>
            <label asp-for="Description"></label>
            <input asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <label asp-for="Amount"></label>
            <input asp-for="Amount" />
            <span asp-validation-for="Amount"></span>
        </div>
        <div>
            <label asp-for="Category"></label>
            <input asp-for="Category" />
            <span asp-validation-for="Category"></span>
        </div>
        <div>
            <label asp-for="Date"></label>
            <input asp-for="Date" />
            <span asp-validation-for="Date"></span>
        </div>

        <button type="submit">Add Expense</button>
    </form>
</div>