@using XSlipMvc.Client.Web.ViewModels.Expense

@model ExpenseViewModel

@{
    ViewData["Title"] = "Create Expense";
}

<div>

    <h2>Create Expense</h2>

    <form asp-action="Create" method="post">
        <div>
            <label asp-for="Description"></label>
            <input asp-for="Description" />
        </div>
        <div>
            <label asp-for="Amount"></label>
            <input asp-for="Amount" />
        </div>
        <div>
            <label asp-for="Category"></label>
            <input asp-for="Category" />
        </div>
        <div>
            <label asp-for="Date"></label>
            <input asp-for="Date" />
        </div>

        <button type="submit">Create Expense</button>
    </form>

</div>