@using XSlipMvc.Client.Web.ViewModels.Bank

@model IEnumerable<BankViewModel>

@{
    ViewData["Title"] = "Banks List";
}

<h2>Banks</h2>

<div class="container">
    <form asp-controller="Banks" asp-action="DeleteBank" method="post">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Remove</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var bank in Model)
                {
                    <tr style="text-align: center; vertical-align: middle;">
                        <td>@bank.Name</td>
                        <td>
                            <input type="checkbox" name="selectedIds" value="@bank.Id" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-action="Add" class="btn btn-primary">Add New Bank</a>
        <button type="submit" class="btn btn-danger">Remove Selected</button>

    </form>

</div>